[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mstclustering"]
	path = mstclustering
	url = https://github.com/cran/mstclustering
[submodule "Rpcop"]
	path = Rpcop
	url = https://github.com/cran/Rpcop
