[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rfuzzydid"]
	path = Rfuzzydid
	url = https://github.com/kmfrick/rfuzzydid
[submodule "Rpcop"]
	path = Rpcop
	url = https://github.com/kmfrick/rpcop
[submodule "mstclustering"]
	path = mstclustering
	url = https://github.com/cran/mstclustering
[submodule "sparselu"]
	path = sparselu
	url = https://github.com/kmfrick/sparselu
